body {background-color: rgba(46, 204, 41, 0.979);}
p {text-align: justify; font-family: Georgia, 'Times New Roman', Times, serif; text-indent: 40px;}
h2 {font-family: Georgia, 'Times New Roman', Times, serif; text-align: center; }
div {text-align: center;}